@import url("./reset.css");
@import url("./global.css");

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  position: relative;
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: ease-in-out 0.5s;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  line-height: 28px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
